body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fffad0;
}

h1 {
    margin-bottom: 20px;
}


#game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;

}

.cartas {
    width: 100px;
    height: 150px;
    background-color: rgb(104, 77, 35);
    border-radius: 10px;
    cursor: pointer;
    transform: rotateY(0); /*posição inicial da carta, 0º*/
    transition: transform 0.3s;    

}

.cartas.flipped {
    background-color: #d6c635;
    transform: rotateY(180deg); /*isso eh pra a cartar girar, o 180 são os graus que ela vai virar*/

}